
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout(content)">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
	integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
	integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" href="" th:href="@{/css/style.css}" />
<title th:text="${title}">Base HTML</title>
</head>
<body>

	<!-- navbar starting -->

	<nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#">Smart Contact Manager</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto text-uppercase">
				<li class="nav-item active"><a class="nav-link" href="#"
					th:href="@{/}">Home <span class="sr-only">(current)</span></a></li>




				<li class="nav-item"><a class="nav-link"><span
						th:text="${user.name}"></span></a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/logout}">Logout</a></li>
			</ul>

		</div>
	</nav>

	<!-- navbar end -->




	<!-- sidebar starts -->
	<div class="sidebar mt-2">

		<span onclick="toggleSidebar()" class="crossBtn">&times;</span> <a
			id="home-link" href="#" th:href="@{/user/index}" class="item"> <i
			class="fas fa-home"></i> Home
		</a> <a href="#" th:href="@{/user/show_contacts/0}" class="item"><i
			class="fas fa-address-book"></i> View Contacts</a> <a href="#"
			th:href="@{/user/add_contact}" class="item"><i
			class="fas fa-phone"></i> Add Contacts</a> <a href="#"
			th:href="@{/user/profile}" class="item"><i class="fas fa-user"></i>
			Your Profile</a> <a href="#" th:href="@{/user/settings}" class="item"><i
			class="fas fa-cogs"></i> Settings</a> <a href="#" th:href="@{/logout}"
			class="item"><i class="fas fa-sign-out-alt"></i> Logout</a>

		<div class="divider"></div>

	</div>
	<!-- sidebar ends -->




	<!--content area  -->
	<div class="content mt-5">

		<div class="bar">
			<i onclick="toggleSidebar()" class="fas fa-bars"></i>
		</div>


		<!-- <!-- message box for successfully add contact -->
		<!-- <div th:if="${session.message}" class="container" id="session-message">
		
		<div th:classappend="${'alert-'+session.message.type}" class="alert text-center" role="alert">
			<span th:text="${session.message.content}">
			</span>
				</div>
		</div>  -->


		<!-- message box  -->
		<!-- <div th:if="${session.message}" id="session_message"
			th:classappend="${session.message.type}" class="alert" role="alert">
			<p class="text-center" th:text="${session.message.content}"></p>
			<script th:inline="javascript">
								/* Remove session message after 5 seconds */
								setTimeout(function() {
									var sessionMessage = document
											.getElementById("session_message");
									sessionMessage.parentNode
											.removeChild(sessionMessage);
								}, 1000);
							</script>
		</div> -->





		<div th:replace="${content}"></div>

	</div>








	<!-- Optional JavaScript; choose one of the two! -->

	<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
	<script
		src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
		crossorigin="anonymous"></script>

	<!-- Option 2: Separate Popper and Bootstrap JS -->
	<!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	<script>
	  
	function deleteContact(cid){
		swal({
			  title: "Are you sure?",
			  text: "Once deleted, you will not be able to recover this Contact details",
			  icon: "warning",
			  buttons: true,
			  dangerMode: true,
			})
			.then((willDelete) => {
			  if (willDelete) {
			    swal("Yeah !!,Your contact is deleted", {
			      icon: "success",
			    });
			    
			    window.location="/user/delete/"+cid;
			  } else {
			    swal("Your contact details is safe!");
			  }
			});
	}
	
	
	
	</script>

	<script>
  // Remove session message after 5 seconds
  setTimeout(function() {
    var messageBox = document.getElementById("session-message");
    if (messageBox) {
      messageBox.parentNode.removeChild(messageBox);
    }
  }, 500);
</script>

	<script src="" th:src="@{/js/my.js}"></script>


</body>
</html>