<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{normal/user_base::layout(~{::section})}">
<head>
<meta charset="UTF-8" />
<title>This is about page</title>
</head>
<body>
	<section>
		<div class="container">
		<div class="card">
			<div class="card-body my-4">
			
			<div class="container text-center">
			
			<img src="" style="height: 200px; width: 200px;" class="my_picture"
						th:src="@{'/image/home_contact.png'}" alt="profile photo" />
			
			</div>
			
			<h1 class="text-center mt-3 text-secondary font-italic">
			Start adding your contact on cloud....
			</h1>
			
			<div class="container text-center">
			<a th:href="@{/user/add_contact}" class="btn bg-primary mt-4 text-uppercase">Add New Contact</a>
			</div>
			
			
			</div>
		</div>
		
		</div>
	</section>

</body>
</html>